main {
  min-height: 100vh;
}

body {
  padding-top: 8rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-inner {
  background-color: #7f8487 !important;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.sticky-nav {
  position: sticky;
  top: 0;
}
